/* Remove default page margins */
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Horizontal rule border styling */
.styled-hr {
    border: 2px solid #2b3d4f;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Navigation Styling */
nav {
    background-color: #282c34;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav p {
    margin: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* One-Column Layout */
.one-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px; /* Optional: limit the form width */
    margin: 0 auto;
    padding: 20px;
}

/* Input Styling */
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.1em;
}

/* Button Styling */
button {
    background-color: #282c34;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 10px;
}

button:hover {
    background-color: #61dafb;
}

/* Section Heading Styling */
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

/* Label Styling */
label {
    font-weight: bold;
    font-size: 1.1em;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

/* Footer Styling */
footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ddd; /* Updated border width and color */
}

footer a {
    color: white;
    margin-left: 10px;
    font-size: 24px;
}

/* LinkedIn Icon Styling */
footer i.fab {
    font-size: 24px; /* Controls the icon size */
    color: white;    /* Icon color */
    transition: color 0.3s ease;
}

footer i.fab:hover {
    color: #61dafb; /* Hover effect to change color */
}

/* General Body Styling */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    padding: 20px;
}
